/TareaScouts3-ejb/build/
/TareaScouts3-war/build/
/TareaScouts3-ejb/dist/
/build/
/dist/
/TareaScouts3-war/dist/
/TareaScouts3-ejb/nbproject/private/
/TareaScouts3-war/nbproject/private/
/nbproject/private/